<div class="navbar-wagon">
  <!-- Logo -->
  <a href='http://localhost:3000/cocktails' class="navbar-wagon-brand">
    <%= image_tag "logo-cocktail.gif", alt: "Le Wagon" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">About</a>
    <a href="http://localhost:3000/cocktails/new" class="navbar-wagon-item navbar-wagon-link">Add a cocktail</a>
  </div>
</div>
