.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 100vh;
}
.card:hover {
  opacity: 0.7;
}

.card {
  padding: 15px;
  border: 1px solid rgb(230, 230, 230);
  width: 300px;
  height: 214px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px black;
  background-size: cover;
  margin: 15px;
}

.card-description {
  position: relative;
  bottom: -85px;
  color: white;
  text-decoration: none;
}

.card-link:hover {
  opacity: 0.1;
  text-decoration: none;
}

